.chartContainer {
  width: 100%;
  height: 250px;
  position: relative;
}

.canvasElement {
  width: 100%;
  height: 100%;
}

.emptyState {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tallChartContainer {
  width: 100%;
  height: 300px;
  position: relative;
}
